{% extends "base.html" %} {% block title %}João Buschinelli - Home{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 id="typing-effect" class="display-2 mb-4"></h1>
    <h2 class="section-title">João C. Buschinelli</h2>
    <span class="text-justify section-subtitle">Programmer | Ethical Hacker | Pentester</span>
    <h2 class="section-title">About</h2>

    <p>I have a bachelor and MSc degree in physics. I always loved to program and I decided to take a step further and learn more about
        penetration tests, WebSecurity, CyberSecurity and ethical hacking.
        
        I am proficient when it comes to programming in Python. Usually, I work in a linux environment to program. Kali Linux is my go to choice for pentests.
    </p>
</div>
{% endblock %}