{% extends "base.html" %} {% block title %}João Buschinelli - Home{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 id="typing-effect" class="display-2 mb-4">
    </h1><span id="typing-effect">
    <h2 class="section-title">João C. Buschinelli</h2>
    <span class="text-justify section-subtitle">Programmer | Ethical Hacker | Pentester</span>
    <h2 class="section-title">About</h2>

    <p class="solution-text no-indent">I have a bachelor and MSc degree in physics. I always loved to program and I decided to take a step further and learn more about
        penetration tests, WebSecurity, CyberSecurity and ethical hacking.
        
        I am proficient when it comes to programming in Python. Usually, I work in a linux environment to program. Kali Linux is my go to choice for pentests.
    </p>

    <p class="solution-text no-indent">
        This portfolio page has sign-up and login functionalities. The web application used is a simple sqlachemy database,
        and the routes and authentication are programmed in Python.
    </p>

    <p class="solution-text no-indent">
        When I'm not coding or diving into cybersecurity stuff, you'll often find me doing parkour and sweating it out with workouts. Parkour is like a thrilling dance of overcoming obstacles, both physically and mentally. I'm also a bit of a bookworm and scribbler, especially when it comes to geeky stuff like science, tech, and deep thoughts about life. I believe that having a mix of interests keeps things interesting! Oh, and I love to travel - it's like a journey into different worlds and a great way to learn new things and meet awesome people.
    </p>
    


</div>
{% endblock %}