{% extends "base.html" %} {% block title %}João Buschinelli - Home{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 id="typing-effect" class="display-2 mb-4"></h1>
    <h2 class="section-title">João C. Buschinelli</h2>
    <span class="text-justify section-subtitle">Programmer | Ethical Hacker | Pentester</span>
    <h2 class="section-title">About</h2>

    <p class="solution-text no-indent">I have a bachelor and MSc degree in physics. I always loved to program and I decided to take a step further and learn more about
        penetration tests, WebSecurity, CyberSecurity and ethical hacking.
        
        I am proficient when it comes to programming in Python. Usually, I work in a linux environment to program. Kali Linux is my go to choice for pentests.
    </p>

    <p class="solution-text no-indent">
        This portfolio page has sign-up and login functionalities. In order to see solutions to PortSwigger labs, you need to be registered and authenticated (or find a way
        to navigate through the website pages. Some pages are vulnerable if accessed directly through the URL. Find your way through). The web application used is a simple sqlachemy database,
        and the routes and authentication are programmed in Python.
    </p>


</div>
{% endblock %}