{% extends "base.html" %}{% block title %}Labs{%endblock%}
{% block content %}
    <div class="container">
        <h1 id="typing-effect" class="display-2 mb-4"></h1> 
        <p class="solution-text no-indent">
            Portswigger is a fantastic resource for learning about web application security. They offer a range of free labs that are designed to help people understand common vulnerabilities and how to exploit them. These labs cover a wide range of topics, from basic SQL injection to advanced business logic vulnerabilities.
        </p>
        <p class="solution-text no-indent">
            Whether you're a complete beginner or an experienced security researcher, Portswigger's labs offer something for everyone. And because they're free, you can learn at your own pace without worrying about the cost. Best of all, the labs are designed to be fun and engaging, so you'll never get bored as you work your way through the exercises.
        </p>
        <p class="solution-text no-indent">
            Here, you will find solutions to these labs. My solutions are written as if it was my first time solving them, meant to show you the thought process behind ethical hacking and pentesting. I provide step-by-step explanation, detailing my thinking at each stage of the process.
        </p>
        <p class="solution-text no-indent">
            These solutions are categorized based on difficulty level, with separate pages for Apprentice, Practioner, and Expert challenges.
        </p>
        <br>
        <h2>Solutions</h2>
        <div class="dropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" onclick="dropDown(this);" href="#apprentice">Apprentice</a>
                    <ul class="dropdown-content show">
                        <li class="nav-item">
                            <a class="nav-link" onclick="dropDown(this);" href="#appresqli">SQL Injection</a>
                            <ul class="dropdown-content hide">
                                <li class="nav-item">
                                    <a class="nav-link" href="/labs/apprentice/sqli01">SQLi Vulnerability in Where Clause Allowing Retrieval of hidden data</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/labs/apprentice/sqli02">SQLi Vulnerability Allowing Login Bypass</a>
                                </li>
                            </ul>
                        </li>
                        <a class="nav-link" onclick="dropDown(this);" href="#appresqli">XSS</a>
                        <ul class="dropdown-content hide">
                            <li class="nav-item">
                                <a class="nav-link" href="/labs/apprentice/xss01">Reflected XSS into HTML context with nothing encoded</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/labs/apprentice/xss02">Stored XSS into HTML context with nothing encoded</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/labs/apprentice/xss03">DOM XSS in document.write sink using source location.search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/labs/apprentice/xss04">DOM XSS in document.write sink using source location.search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/labs/apprentice/xss05">DOM XSS in document.write sink using source location.search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/labs/apprentice/xss06">DOM XSS in jQuery selector sink using a hashchange event</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/labs/apprentice/xss07">Reflected XSS into attribute with angle brackets HTML-encoded</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/labs/apprentice/xss08">Stored XSS into anchor href attribute with double quotes HTML-encoded</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/labs/apprentice/xss09">Reflected XSS into a JavaScript string with angle brackets HTML encoded</a>
                            </li>
                        </ul>
                        <li class="nav-item">
                            <a class="nav-link" onclick="dropDown(this);" href="#blogic">Business Logic Vulnerabilities</a>
                            <ul class="dropdown-content hide">
                                <li class="nav-item">
                                    <a class="nav-link" href="/labs/apprentice/buslogic01">Excessive Trust in Client-Side Controls</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/labs/apprentice/buslogic02">High-Level Logic Vulnerability</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./portswiggerlabs/apprentice/inconsistent-security-controls.html">Inconsistent Security Controls</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./portswiggerlabs/apprentice/flawed-enforcement-of-business-rules.html">Flawed Enforcement of Business Rules</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="dropDown(this);" href="#auth">Authentication</a>
                            <ul class="dropdown-content hide">
                                <li class="nav-item">
                                    <a class="nav-link" href="./portswiggerlabs/apprentice/username-enumeration-via-different-responses.html">Username Enumeration via Different Responses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./portswiggerlabs/apprentice/2FA-simple-bypass.html">2FA Simple Bypass</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./portswiggerlabs/apprentice/password-reset-broken-logic.html">Password Reset Broken Logic</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="dropDown(this);" href="#priv-esc">Privilege Escalation</a>
                            <ul class="dropdown-content hide">
                                <li class="nav-item">
                                    <a class="nav-link" href="/labs/apprentice/priv-esc01">Unprotected admin functionality</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/labs/apprentice/priv-esc02">Unprotected admin functionality with unpredictable URL</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/labs/apprentice/priv-esc03">User role controlled by request parameter</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/labs/apprentice/priv-esc04">User role can be modified in user profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/labs/apprentice/priv-esc05">User ID controlled by request parameter</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./portswiggerlabs/apprentice/user-id-controlled-by-request-parameter-2.html">User ID controlled by request parameter, with unpredictable user IDs</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="dropDown(this)" href="#practioner">Practioner</a>
                    <ul class="dropdown-content show">
                        <li class="nav-item">
                            <a class="nav-link" onclick="dropDown(this)" href="#practsqli">SQL Injection</a>
                            <ul class="dropdown-content hide">
                                <li class="nav-item">
                                    <a class="nav-link" href="./portswiggerlabs/practioner/sqli-union-attack-determining-the-number-of-columns-returned-by-the-query.html">SQLi UNION attack, determining the number of columns returned by the query</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./portswiggerlabs/practioner/sqli-union-attack-finding-a-column-containing-text.html">SQLi UNION attack, finding a column containing text</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./portswiggerlabs/practioner/sqli-union-attack-retrieving-data-from-other-tables.html">
                                        SQLi UNION attack, retrieving data from other tables</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/sqli-union-attack-retrieving-multiple-values-in-a-single-column.html">
                                    SQLi UNION attack, retrieving multiple values in a single column</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/sqli-attack-querying-the-database-type-and-version-on-oracle.html">
                                    SQLi attack, querying the database type and version on Oracle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/sqli-attack-querying-the-database-type-and-version-on-mysql-and-microsoft.html">
                                    SQLi attack, querying the database type and version on MySQL and Microsoft</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/sqli-attack-listing-the-database-contents-on-non-oracle-databases.html">
                                    SQLi attack, listing the database contents on non-Oracle databases</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/sqli-attack-listing-the-database-contents-on-oracle.html">
                                    SQLi attack, listing the database contents on Oracle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-bar" href="
                                    ./portswiggerlabs/practioner/blind-sqli-with-conditional-responses.html">
                                    Blind SQLi with conditional responses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    blind-sqli-with-conditional-errors.html">
                                    Blind SQLi with conditional errors</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/blind-sqli-with-time-delays.html">
                                    Blind SQLi with time delays</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/blind-sqli-with-time-delays-and-information-retrieval.html">
                                    Blind SQLi with time delays and information retrieval</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/sqli-with-filter-bypass-via-xml-encoding.html">
                                    SQLi with filter bypass via XML encoding</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="dropDown(this)" href="#practxss">XSS</a>
                            <ul class="dropdown-content hide">
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    /labs/practioner/xss11">
                                    DOM XSS in document.write sink using source location.search inside a select element</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    /labs/practioner/xss12">
                                    DOM XSS in AngularJS expression with angle brackets and double quotes HTML-encoded</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    /labs/practioner/xss13">
                                    Exploiting XSS to perform CSRF</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    /labs/practioner/xss14">
                                    Exploiting cross-site scripting to steal cookies</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="dropDown(this)" href="#practblogic">Business Logic Vulnerabilities</a>
                            <ul class="dropdown-content hide">
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/low-level-logic-flaw.html">
                                    Low-level logic flaw</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/inconsistent-handling-of-exceptional-input.html">
                                    Inconsistent handling of exceptional input</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/weak-isolation-on-dual-use-endpoint.html">
                                    Weak isolation on dual-use endpoint</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/insufficient-workflow-validation.html">
                                    Insufficient workflow validation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/authentication-bypass-via-flawed-state-machine.html">
                                    Authentication bypass via flawed state machine</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/infinite-money-logic-flaw.html">
                                    Infinite money logic flaw</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/authentication-bypass-via-encryption-oracle.html">
                                    Authentication bypass via encryption oracle</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="dropDown(this)" href="#practauth">Authentication</a>
                            <ul class="dropdown-content hide">
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/broken-brute-force-protection-IP-block.html">
                                    Broken brute-force protection, IP block</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/username-enumeration-via-account-lock.html">
                                    Username enumeration via account lock</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/2FA-broken-logic.html">
                                    2FA broken logic</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="dropDown(this)" href="#pracpriv-esc">Privilege escalation</a>
                            <ul class="dropdown-content hide">
                                <li class="nav-item">
                                    <a class="nav-link" href="/labs/practioner/priv-esc11">
                                    URL-based access control can be circumvented</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/username-enumeration-via-account-lock.html">
                                    Username enumeration via account lock</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="
                                    ./portswiggerlabs/practioner/2FA-broken-logic.html">
                                    2FA broken logic</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="expert.html">Expert</a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}
