{% extends "base.html" %} {% block title %}João Buschinelli - Projects{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 id="typing-effect" class="display-2 mb-4"></h1>
    <br>
    <p class="solution-text no-indent">
        Welcome to my projects page! Here, you will find a list of some of the projects that I have been working on lately. These projects cover a wide range of topics, including encryption, cybersecurity, and software development.
    </p>
    <p class="solution-text no-indent">
I work on these projects on a weekly basis, constantly updating and improving them to ensure that they are always at the cutting edge of technology. If you are interested in any of these projects, feel free to click on the links provided to learn more about them.
    </p>
    <br>
    <div class="row-fig">
        <div class="div-fig">
            <center><strong class="fig-title-text">Remote Keylogger</strong>
                <a href="/projects/keylogger">
                    <img class="circle" src="{{ url_for('static', filename='img/Keylogger-Software-1400.jpg') }}">
                </a>
            </center>
        </div>
        <div class="div-fig">
            <center><strong class="fig-title-text">Malware Development</strong>
                <a href="/projects/malware-dev">
                    <img class="circle" src="{{ url_for('static', filename='img/malware-square.jpg') }}">
                </a>
            </center>
        </div>
        <div class="div-fig">
            <center><strong class="fig-title-text">Encryption Projects</strong>
                <a href="/projects/encryption-projects">
                    <img class="circle" src="{{ url_for('static', filename='img/encryption.jpg') }}">
                </a>
            </center>
        </div>
    </div>
</div>
{% endblock %}