{% extends "base.html" %} {% block title %}João Buschinelli - Projects{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 id="typing-effect" class="display-2 mb-4"></h1>
    <br>
    <div class="row-fig">
        <div class="div-fig">
            <center>Remote Keylogger
                <a href="/projects/keylogger">
                    <img class="circle" src="{{ url_for('static', filename='img/Keylogger-Software-1400.jpg') }}">
                </a>
            </center>
        </div>
        <div class="div-fig">
            <center>Preventing SQLi
                <a href="/projects/prevent-sqli">
                    <img class="circle" src="{{ url_for('static', filename='img/sqlinjection-project-fig.png') }}">
                </a>
            </center>
        </div>
        <div class="div-fig">
            <center>Encryption Projects
                <a href="/projects/encryption-projects">
                    <img class="circle" src="{{ url_for('static', filename='img/encryption.jpg') }}">
                </a>
            </center>
        </div>
    </div>
</div>
{% endblock %}