{% extends "base.html" %} {% block title %}João Buschinelli - Home{% endblock %}

{% block content %}
<div class="container">
    <h1 id="typing-effect" class="display-2 mb-4"></h1>
    <p class="solution-text center">
        In this page we discuss different topics in cybersecurity.
    </p>
    <div class="dropdown" text-align="center">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" onclick="dropDown(this);" href="/topics/intro">Intro to the Cyber World</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/topics/intro/offensive">Intro to Offensive Security</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/topics/intro/defensive">Intro to Defense Security</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/topics/intro/network">Intro to Networking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/topics/intro/web-fundamentals">Intro to the Web</a>
            </li>
        </ul>

    </div>
</div>
{% endblock %}