{% extends "base.html" %}{% block title%}Unprotected Admin Functionality 1{%endblock%}
{%block content%}
        <h1 id="typing-effect" class="display-2 mb-4"></h1>
        <p>
            <b class="solution-title">Solution</b>
        </p>
        <p class="solution-text no-indent">
            This is a lab about privilege escalation. You can access
            it by clicking <a class="fake-link" target="blank" href="https://portswigger.net/web-security/access-control/lab-unprotected-admin-functionality">
            here</a>. Once we launch the lab, we are welcomed by the page: 
        </p>
        <div class="fig-breath">
            <img class="fig-body" src="{{ url_for('static', filename='img/priv-esc-unprotected-admin-func-1.png')}}">
        </div>
        <p class="solution-text no-indent">
            We can simply try to access pages like "/admin" or "/administrator" to see if there is an access control. Unfortunately, that is not the case. We get a 404 status for
            both pages. Well, we can try to use BurpSuite to find any interesting requests. Go to the main website page and capture all the requests. There is nothing really interesting,
            other than a GET request on a /.git/HEAD page. Unfortunatelly, it retrives us a 404.
        </p>
        <p class="solution-text no-indent">
            Let's move to some scans. I tried to find something with Nikto. This is what we find with the scan:
        </p>
        <div class="fig-breath">
            <img class="fig-body" src="{{ url_for('static', filename='img/priv-esc-unprotected-admin-func-2.png')}}">
        </div>
        <p class="solution-text no-indent">
            Look that we have information that can be manually seen in the "robots.txt" file of the website. Let us navigate to it. We just type in "/robots.txt" appended to the URL.
        </p>
        <div class="fig-breath" style="text-align: center">
            <img class="fig-body" src="{{ url_for('static', filename='img/priv-esc-unprotected-admin-func-3.png')}}">
        </div>
        <p class="solution-text no-indent">
            Interesting... This is indicating that there is/must be a folder called "administrator-panel". Let's try to access it.
        </p>
        <div class="fig-breath" style="text-align: center">
            <img class="fig-body" src="{{ url_for('static', filename='img/priv-esc-unprotected-admin-func-4.png')}}">
        </div>
        <p class="solution-text no-indent">
            Now we can see the user's "carlos" account, and a buttton "delete" next to it. After clicking, we solve the lab!
        </p>
        <a href="/labs">Go back</a>
{%endblock%}